<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/index.css}">
    <title>Successfully upload</title>
</head>
<body>
<div class="smart-green">
    <form th:action="@{/readytodownload}" method="post">
        <h1>You have successfully uploaded the program!</h1>
        <label>
            <span>Your program name is: </span>
        </label>
        <br>
        <label>
            <p th:text="${programName}"></p>
        </label>

        <input type="hidden" name="programName" th:value="${programName}">
        <input type="hidden" name="programFinalPath" th:value="${programFinalPath}">
        <input type="hidden" name="outputPath" th:value="${outputPath}">
        <input type="hidden" name="datafileName" th:value="${datafileName}">
        <input type="hidden" name="dataFinalPath" th:value="${dataFinalPath}">
        <input type="hidden" name="mainMethod" th:value="${mainMethod}">

        <label>
            <input class="button" type="submit" value="Run the program">
        </label>
    </form>
</div>
</body>
</html>