<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/index.css}">
    <script type="text/javascript" th:src="@{/static/js/download.js}"></script>
    <title>Download</title>
</head>
<body>
<div class="smart-green">
    <form th:action="@{/testDown}" method="post">
        <h1>You can download result now.</h1>
        <label>
            <span>Your output file name is: </span>
        </label>
        <br>
        <label>
            <p th:text="${outputName}"></p>
        </label>

        <input type="hidden" name="outputName" th:value="${outputName}">

        <label>
            <input id="tryDownload" class="button" type="submit" value="Download result">
            <div id="isOutputed" th:text="${isOutputed}"></div>
        </label>
    </form>

    <hr>

    <label>
        <span>You can also use SparkUI to check the process: </span>
    </label>
    <br>

    <label>
        <a href="http://192.168.91.100:8080" target="_blank">
            <input class="button" type="button" value="Check SparkUI">
        </a>
    </label>
</div>
</body>
</html>