<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/index.css}">
    <script type="text/javascript" th:src="@{/static/js/upload.js}"></script>
    <title>Index</title>
</head>
<body>
<div class="smart-green">
    <form th:action="@{/upload}" onsubmit="return validateForm()" method="post" enctype="multipart/form-data">
        <h1>Big Data Program</h1>
        <label>
            <span>Please select your JAR to upload: </span>
            <input type="file" id="program" name="program"><br>
        </label>

        <label>
            <span>Please select your data file to be processed: </span>
            <input type="file" id="datafile" name="datafile"><br>
        </label>

        <label>
            <span>Please enter your main method with format "package.Class": </span>
            <input type="text" id="mainMethod" name="mainMethod" value="fr.enseeiht.bigdata.WordCount"><br>
        </label>

        <label>
            <input class="button" type="submit" value="Upload">
        </label>
    </form>
</div>
</body>
</html>